body {
    background-color: gray;
}
nav {
    background-color: #1DB954;
}
header {
    background-color: #1DB954;
}
label {
    background-color: #1DB954;
}
.md-header {
    background-color: #1DB954;
}